# shellcheck disable=all

export $(sops -d --output-type dotenv .secrets | xargs) || exit 1
env_vars_required TF_VAR_tailscale_api_key HCLOUD_TOKEN
export KUBECONFIG=$(pwd)/kubeconfig
export CLUSTER_NAME=k3s-prod
export VPC_SUBNET="10.0.0.0/16"
export LOCATION=fsn1
export NETWORK_ZONE=eu-central
export SSH_PUBLIC_KEY_PATH="~/.ssh/hetzner.pub"
export SSH_PRIVATE_KEY_PATH="~/.ssh/hetzner.key"
export TF_VAR_hcloud_token=$HCLOUD_TOKEN
export TF_VAR_tailscale_org=inner-daydream.github
export TF_VAR_tailscale_tailnet=possum-micro.ts.net
export TF_VAR_ssh_public_key_path=$SSH_PUBLIC_KEY_PATH
export TF_VAR_vpc_subnet=$VPC_SUBNET
