# shellcheck disable=all
use_sops() {
    local path=${1:-$PWD/.secrets}
    eval "$(sops -d "$path" | direnv dotenv bash /dev/stdin)"
    watch_file "$path"
}
use sops
source_up
export KUBECONFIG=$(pwd)/kubeconfig
export CLUSTER_NAME=k3s-prod
export VPC_SUBNET="10.0.0.0/16"
export LOCATION=fsn1
export NETWORK_ZONE=eu-central 
export SSH_PUBLIC_KEY_PATH="$HOME/.ssh/hetzner.pub"
export SSH_PRIVATE_KEY_PATH="$HOME/.ssh/hetzner.key"
sops -d ssh_keys/encrypted.key > $SSH_PRIVATE_KEY_PATH
sops -d ssh_keys/encrypted.pub > $SSH_PUBLIC_KEY_PATH
export TF_VAR_hcloud_token=$HCLOUD_TOKEN
export TF_VAR_tailscale_org=inner-daydream.github
export TF_VAR_tailscale_tailnet=possum-micro.ts.net
export TF_VAR_ssh_public_key_path=$SSH_PUBLIC_KEY_PATH
export TF_VAR_vpc_subnet=$VPC_SUBNET
export TAILSCALE_CLIENT_ID=kqfyTh2CNTRL