# shellcheck disable=all
source_up
export PORT=3000
export OPENID_CLIENT_ID=e5irwwjliM7t7WRr9DyAThrRzxMLfPKS
export OPENID_ISSUER=https://loren.eu.auth0.com
export BASE_URL='http://test1.bluesail.io:3000'
export $(sops -d .secrets | xargs) || exit 1