#!/bin/bash
#shellcheck disable=all
use_sops() {
    local path=${1:-$PWD/.secrets}
    eval "$(sops -d "$path" | direnv dotenv bash /dev/stdin)"
}

source_up
use sops
export $(sops -d .secrets | xargs) || exit 1
export PORT=3000
export OPENID_CLIENT_ID='e5irwwjliM7t7WRr9DyAThrRzxMLfPKS'
export OPENID_ISSUER=https://loren.eu.auth0.com
export BASE_URL='http://localhost:3000'
export AUTH0_DOMAIN='loren.eu.auth0.com'
export AUTH0_CONNECTION='user-db'
export STRIPE_BASIC_PRICE_ID='price_1NXvZDL1srpWQ8TwMYLpjBgC'
export STRIPE_API_VERSION='2022-11-15'
export CLIENT_URL='http://localhost:3000'
# One of 'fatal', 'error', 'warn', 'info', 'debug', 'trace' or 'silent'.
export LOG_LEVEL='trace'