#!/bin/bash
#shellcheck disable=all
use_sops() {
    local path=${1:-$PWD/.secrets}
    eval "$(sops -d "$path" | direnv dotenv bash /dev/stdin)"
}

source_up
use sops
export $(sops -d .secrets | xargs) || exit 1
export PORT=3000
export OPENID_CLIENT_ID='e5irwwjliM7t7WRr9DyAThrRzxMLfPKS'
export OPENID_ISSUER=https://loren.eu.auth0.com
export BASE_URL='http://test1.bluesail.io:3000'
export AUTH0_DOMAIN='loren.eu.auth0.com'
export AUTH0_CONNECTION='user-db'